<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/tema"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tema_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoDoacao"
        tools:targetApi="31">

        <activity android:name=".OngDoacao" android:exported="false" />
        <activity android:name=".Estoque" android:exported="false" />
        <activity android:name=".CadFamilia" android:exported="false" />
        <activity android:name=".Familias" android:exported="false" />
        <activity android:name=".DoadorDashboard" android:exported="true" />
        <activity android:name=".OngDashboard" android:exported="true" />
        <activity android:name=".LoginActivity" android:exported="true" />
        <activity android:name=".RegisterActivity" android:exported="true" />

        <!-- Apenas uma MainActivity -->
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EscolhaOngActivity" />

    </application>
</manifest>
